*:focus {
    outline: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    cursor: default;
}

#title {
    position: relative;
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
    background-color: lightblue;
    padding-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
}

#title h1 {
    font-weight: lighter;
    padding-top: 2%;
}

#help0 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 0);
    height: 30%;
    max-height: 100%;
}

#audio0 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-150%, 0);
    height: 30%;
    max-height: 100%;
}

.help-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 25%);
    height: 15%;
}

button .audio-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 125%);
    height: 15%;
}

#grid-container {
    grid-row: 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    padding: 2%;
    height: 100%;
    overflow: hidden;
}

.grid-item {
    position: relative;
    text-align: center;
    padding: 2%;
    overflow-wrap: break-word;
    overflow: hidden;
    background-color: rgb(216, 233, 239);
    border: 0;
    color: rgb(34, 34, 34);
}

.bottom-row {
    margin-bottom: 3%;
}

#next{
    position: relative;
    height: 100%;
    width: auto;
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    margin-bottom: 3.5%;
    overflow: hidden;   
}

#home{
    position: relative;
    height: 80%;
    width: auto;
    grid-column: 1;
    grid-row: 3;
    justify-self: start; 
    align-self: end;
    margin-bottom: 5.5%;
    overflow: hidden;   
}

#popup {
    position: relative;
    visibility: hidden;
    width: 85%;
    height: 65%;
    background-color: #fff;
    color: #444;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-49%);
    padding: 5%;
    padding-top: 0;
    overflow: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    overflow-x: hidden;
}

#popup #banner {
    box-sizing: border-box;
    margin-left: -6%;
    margin-right: -6%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    background-color: #EEE;
    padding-left: 5%;
    transform: translate(0,-1px);
}

#banner h2 {
    display: inline;
}

#popup #exit {
    display: inline;
    height: 75px;
    top: 3%;
    right: 3%;
    transform: translate(-5%,25%);
    margin-left: auto;
}

#popup #play {
    display: inline;
    height: 75px;
    top: 3%;
    right: 3%;
    margin-left: 3%;
    transform: translate(-5%,25%);
}

.defined-word {
    color: #0065A3;
    font-size: xx-large;
